* { box-sizing: border-box; }

/* Nav bar */

nav {
  position: fixed;
  padding: 4px 15px 4px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1605px;  
}

.nav-buttons button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-buttons button:hover { background-color: #f7f7f7; }

.nav-buttons button:last-child { margin-left: 5px; }

.nyt-logo { justify-self: center; }

.membership { justify-self: end; }

.btn-blue {
  padding: 11px 12px 8px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(86,123,149);
  border-color: rgb(50,104,145);
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}

.btn-blue:hover { background-color: rgb(50,104,145); }

.log-in {
  margin-left: 3px;
}

/* Article header */

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  justify-items: center;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 30px;
}

h1 {
  max-width: 600px;
  color: #121212;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.9375rem;
  font-style: italic;
  line-height: 2.25rem;
}

@media (max-width: 659px) {
  h1 {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }   
}

@media (min-width: 740px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.header-figure {
  display: grid;
  max-width: 945px;
}

.header-figure img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.header-figure figcaption {
  max-width: 720px;
  padding: 10px 20px 30px 20px;
}

@media (min-width: 1440px) {
  .header-figure { max-width: 1200px; }

  .header-figure figcaption { max-width: 900px; }
}

.fig-text {
  color: #666;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.25rem;
}

.fig-source {
  color: #888;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

.article-figure { margin-bottom: 25px; }

.author-wrapper {
  width: 100%;
  max-width: 600px;
}

.author {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.date-and-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 600px;
}

@media (max-width: 659px) {
  .author-wrapper {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .date-and-social {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact,
  .share { display: none; }
}

.social { 
  display: flex;
  justify-self: end;
  align-items: center;
}

.btn-social {
  padding: 5px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  vertical-align: center;
  background-color: #eee;
  border-radius: 100%;
  border: 1px solid #eee;
  cursor: pointer;
}

.bookmark,
.comments { margin-left: 10px; }

.bookmark {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* Text Area */

.article-content {
  display: grid;
  grid-template-columns: auto 600px auto;
  grid-gap: 0 40px;
}

.article-content > * { grid-column: 2 / -2; }

@media (max-width: 659px) {
  .article-content {
    grid-template-columns: 1fr;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .article-content > * { grid-column: 1 / span 1; }
}

.article-content > p {
  margin-bottom: .78125rem;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

@media (min-width: 740px) {
  .article-content > p {
    margin-bottom: .9375rem;
    line-height: 1.875rem;
  }
}

.article-content img { width: 100%; }

strong { font-weight: bold; }

.subscription-top,
.subscription-bottom {
  display: inline-block;
  width: 72px;
  border-top: 1px solid rgb(204,204,204);
}

.subscription-top {
  margin-top: 15px;
  margin-bottom: 18px; 
}

.subscribe { 
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.subscription-link { 
  color: rgb(50,104,145); 
  text-decoration: none;
}

.subscription-bottom {
  margin-top: 18px;
  margin-bottom: 30px; 
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.aspect-ratio iframe {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
}

.theory-section-container {
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.theory-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5rem;
}

.theory-summary {
  margin-bottom: 4px;
  color: #666;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: .875rem;
}

.theory-img-wrapper { position: relative; }

.theory-img { width: 100%; }

.theory-img-text {
  position: absolute;
  width: 23%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.theory-img-text-bold {
  margin-right: 10px;
  font-size: 11px;
  font-weight: bold;
}

.r1 { top: 24%; }

.r2 { top: 74% }

.c2 { left: 25%; }

.c3 { left: 50%; }

.c4 { left: 75%; }

.theory-source-top-border {
  margin-top: 40px;
  margin-bottom: 13px;
  width: 60px;
  border-top: 1px solid black;
}

.theory-source {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.125rem;
}

.article-footer-buttons { 
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-footer-comments { width: 55%; }

.article-footer-social {
  display: flex;
  align-items: center;
  margin-right: 10px; 
}

.publication-info {
  margin-bottom: 30px;
  color: #666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .75rem;
}

.publication-info a { text-decoration: underline; }

.publication-info a:hover { 
  text-decoration: none;
  cursor: pointer;
}

/* Additional articles */

.additional-articles-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 40px;
  max-width: 1200px;
}

.genre,
.editor-picks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 0;
  grid-gap: 20px 0;
  overflow-y: hidden;
}

.genre { grid-template-rows: auto auto auto; }

.editor-picks { grid-template-rows: auto auto; }

.external-article {
  padding-left: 20px;
  padding-right: 20px;
}

.external-article-link { cursor: pointer; }

.external-article-img { width: 100%; }

.external-article-source {
  padding-bottom: 5px;
  color: #999;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: .7rem;
  line-height: 1.23em;
  text-align: right;
}

.external-article-date {
  color: #999;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.25rem;
}

h3 {
  padding-top: 30px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-top: 1px solid black;
}

.title-genre,
.title-editor-picks { 
  grid-column: 1 / -1;
  padding-left: 20px;
}

h4 {
  color: #121212;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

.most-popular { display: none; }

.title-popular { padding-top: 30px; }

.popular-article-links {
  margin-top: 20px;
  border-top: 1px solid rgb(226,226,226);
}

.popular-link {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(226, 226,226);
}

.popular-link > a:hover { 
  cursor: pointer;
  color: rgb(102,102,102);
}

.popular-link:last-child { border-bottom: none; }

@media (min-width: 740px) {
  .additional-articles-container {
    grid-template-columns: 70% auto;
    padding-left: 3%;
    padding-right: 3%;
  }

  .genre,
  .editor-picks {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .external-article {
    padding-left: 0;
    padding-right: 0;
  }

  .title-genre,
  .title-editor-picks { padding-left: 0; }

  .most-popular {
    display: block;
    grid-row: span 2;
  }
}

/* Footer */

.footer-divider {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  max-width: 1200px;
  height: 4px;
  border-top: 2px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.home-page-link {
  grid-column: span 1 / -1;
  justify-self: end;
  align-self: end;
  color: rgb(86,123,149);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  cursor: pointer;
}

.footer-external:nth-child(8) {
  padding-left: 15px;
  border-left: 1px solid #ebebeb;
}

.footer-section-title {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  border: none;
}

.footer-section-link { 
  display: flex;
  align-items: center;
  height: 23px; 
}

.footer-section-link a {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 16px;
}

.footer-section-subscribe-list-link {
  height: 25px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 15px;
}

.footer-section-subscribe-list-link:nth-child(4) { margin-bottom: 10px; }

.footer-section-corporate-link:nth-child(7) {
  margin-bottom: 15px;
  border-bottom:  1px solid #ebebeb;
}

.footer-section-corporate-link,
.footer-section-alternate-link {
  height: 23px;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.footer-section-link a:hover,
.footer-copyright-link a:hover,
.footer-section-subscribe-list-link a:hover,
.footer-section-corporate-link a:hover,
.footer-section-alternate-link a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-copyright {
  grid-column: 1 / -1;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-top: 10px;
  border-top: 1px solid #ebebeb;
}

.footer-copyright-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-copyright-link {
  padding-left: .5%;
  padding-right: .5%;
  color: #666;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}